(
    version: 1,
    game_day: 9,
    day_elapsed: 0.015625,
    seconds_per_day: 30.0,
    resources: (
        general: 95,
        chassis: 20,
        cannon: 15,
        missile: 10,
        phasers: 10,
        electronics: 10,
        nuclear: 5,
    ),
    scout_position: (17.511892, 3.0, 19.676378),
    robots: [
        (
            position: (24.5, 0.3, 5.796875),
            team: Enemy,
            chassis: Tracks,
            weapons: [
                Missile,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 130.0,
            nuclear_armed: false,
            command: SeekAndDestroy,
        ),
        (
            position: (28.5, 0.3, 26.203125),
            team: Enemy,
            chassis: Bipod,
            weapons: [
                Cannon,
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 80.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (15.5, 0.3, 23.125),
            team: Enemy,
            chassis: Tracks,
            weapons: [
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 100.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (34.5, 0.3, 24.4375),
            team: Enemy,
            chassis: Tracks,
            weapons: [
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 100.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (35.9375, 0.3, 6.5),
            team: Enemy,
            chassis: Wheels,
            weapons: [
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 70.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (15.5, 0.3, 22.046875),
            team: Enemy,
            chassis: Tracks,
            weapons: [
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 100.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (25.96875, 2.0, 33.5),
            team: Enemy,
            chassis: AntiGrav,
            weapons: [
                Missile,
            ],
            has_electronics: false,
            has_nuclear: true,
            current_hp: 80.0,
            nuclear_armed: false,
            command: DestroyEnemyBase,
        ),
    ],
    factories: [
        (
            position: (38.5, 0.5, 56.5),
            factory_type: Electronics,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (48.5, 0.5, 42.5),
            factory_type: Phasers,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (56.5, 0.5, 48.5),
            factory_type: Cannon,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (16.5, 0.5, 22.5),
            factory_type: Phasers,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (26.5, 0.5, 8.5),
            factory_type: Electronics,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (8.5, 0.5, 26.5),
            factory_type: Nuclear,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (56.5, 0.5, 38.5),
            factory_type: Nuclear,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (48.5, 0.5, 56.5),
            factory_type: Chassis,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (16.5, 0.5, 8.5),
            factory_type: Chassis,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (42.5, 0.5, 48.5),
            factory_type: Missile,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (8.5, 0.5, 16.5),
            factory_type: Cannon,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (22.5, 0.5, 16.5),
            factory_type: Missile,
            team: Enemy,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
    ],
    warbases: [
        (
            position: (8.5, 0.8, 8.5),
            team: Player,
        ),
        (
            position: (56.5, 0.8, 56.5),
            team: Enemy,
        ),
    ],
    ai: (
        decision_timer: 0.015625,
        build_timer: 6.015625,
        decision_counter: 22,
        robots_built: 10,
    ),
)