(
    version: 1,
    game_day: 13,
    day_elapsed: 0.015625,
    seconds_per_day: 30.0,
    resources: (
        general: 225,
        chassis: 40,
        cannon: 50,
        missile: 85,
        phasers: 80,
        electronics: 50,
        nuclear: 55,
    ),
    scout_position: (40.28259, 3.0, 54.353992),
    robots: [
        (
            position: (27.5, 0.3, 36.0625),
            team: Player,
            chassis: Wheels,
            weapons: [
                Missile,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 100.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (13.96875, 0.3, 17.5),
            team: Player,
            chassis: Wheels,
            weapons: [
                Phasers,
            ],
            has_electronics: false,
            has_nuclear: false,
            current_hp: 110.0,
            nuclear_armed: false,
            command: SeekAndCapture,
        ),
        (
            position: (36.5, 0.3, 29.125),
            team: Player,
            chassis: Wheels,
            weapons: [
                Cannon,
            ],
            has_electronics: false,
            has_nuclear: true,
            current_hp: 70.0,
            nuclear_armed: false,
            command: DestroyEnemyBase,
        ),
    ],
    factories: [
        (
            position: (16.5, 0.5, 8.5),
            factory_type: Chassis,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (8.5, 0.5, 16.5),
            factory_type: Cannon,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (22.5, 0.5, 16.5),
            factory_type: Missile,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (56.5, 0.5, 38.5),
            factory_type: Nuclear,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (26.5, 0.5, 8.5),
            factory_type: Electronics,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (8.5, 0.5, 26.5),
            factory_type: Nuclear,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (48.5, 0.5, 56.5),
            factory_type: Chassis,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (56.5, 0.5, 48.5),
            factory_type: Cannon,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (42.5, 0.5, 48.5),
            factory_type: Missile,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (48.5, 0.5, 42.5),
            factory_type: Phasers,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (38.5, 0.5, 56.5),
            factory_type: Electronics,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
        (
            position: (16.5, 0.5, 22.5),
            factory_type: Phasers,
            team: Player,
            capture_progress: 0.0,
            capture_required: 1.0,
        ),
    ],
    warbases: [
        (
            position: (56.5, 0.8, 56.5),
            team: Enemy,
        ),
        (
            position: (8.5, 0.8, 8.5),
            team: Player,
        ),
    ],
    ai: (
        decision_timer: 0.015625,
        build_timer: 6.015625,
        decision_counter: 32,
        robots_built: 2,
    ),
)